body {
  margin: 0;
}

header {
  background-color: turquoise;
  margin: 0;
}

ul {
  margin-top: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

a:hover {
  color: rgb(114, 114, 236);
}

.logo {
  max-width: 100px;
  margin: auto;
}

h1,
h2,
.product-price {
  text-align: center;
  color: rgb(114, 114, 236);
  text-decoration: none;
  padding: 20px;
}

.product-image {
  display: block;
  max-width: 250px;
  max-height: 300px;
  margin: auto;
}

.product-price {
  font-size: 20px;
  text-decoration: none;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(64, 224, 208, 1);
}

.product-card > a {
  text-decoration: none;
}

#search {
  display: block;
  margin: auto;
  padding: 5px;
  border: 1px, rgb(114, 114, 236);
}

.searchbar {
  text-align: center;
  padding: 5px;
  color: rgb(114, 114, 236);
  text-transform: uppercase;
  font-weight: 800;
}

.product-detail {
  padding: 20px;
}

#add-to-cart {
  color: rgb(114, 114, 236);
  background-color: rgba(64, 224, 208);
  border-color: rgb(114, 114, 236);
  border-radius: 5px;
  font-size: 20px;
}
